page-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .add-card {
    cursor: pointer;
    padding: .25em;
  }
  wc-stretch-button {
    width: 100%;
  }
}